.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
 border-radius: 30px;
 
}
.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(45deg, #78A0F8, #A735F4);
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sample-text {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.time-limit {
  margin-bottom: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.start-button:hover {
  background-color: #45a049;
}

.start-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


